<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body>
  <div class="container">
    <div class="page-header text-center">
      <h1>Profile Page</h1>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    <div class="row">
        <!-- LOCAL INFORMATION -->
      <div class="col-sm-6">
        <div class="well">
          <h3><i class="material-icons md-48">person</i> User Information</h3>
            <p>
              <strong>ID</strong>: <%= user._id %><br>
              <strong>First Name</strong>: <%= user.local.firstName %><br>
              <strong>Last Name</strong>: <%= user.local.lastName %><br>
              <strong>Date of Birth</strong>: <%= user.local.dob %><br>
              <strong>Email</strong>: <%= user.local.email %><br>
              <strong>Password</strong>: <%= user.local.password %>
            </p>
        </div>
      </div>
    </div>
  </div>
  <% include ../partials/body %>
</body>
</html>
