<!-- views/profile.ejs -->
<!doctype html>
<html>

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/navbar %>
    <div class="container">
      <div class="row marg-top">
        <div class="col-md-4">
        <ul id="accordion" class="accordion">
          <li>
            <div class="profile-card">
              <img class="img-responsive profile-card-pic" alt="profile image" src='<%= user.local.uploadImg %>' />
              <div class="username">
                <h2><%= user.local.firstName %> <%= user.local.lastName %> </h2>
                <%if (user.local.userType == "volunteer") { %>
                <p><i class="fa fa-briefcase"></i>Volunteer</p>
                <% }
                else{ %>
                   <p><i class="fa fa-user"></i>Member</p>
                <% } %>
                <p><i class="fa fa-map-marker"></i>  <%= user.local.city %>, <%= user.local.state %></p>
              </div>
            </div>
          </li>
          <li class="default open profile-info">
            <div class="info-tab">Avg. Rating: <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></div>
            <ul class="submenu">
              <li><a href="#"><i class="fa fa-birthday-cake"></i> <%= user.local.dob.toDateString() %></a></li>
              <li><a href="mailto:<%= user.local.email %>"><i class="fa fa-envelope"></i><%= user.local.email %></a></li>
              <li><a href="#"><i class="fa fa-phone"></i> <%= user.local.phoneNumber %></a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-md-8 comment-review">
        <div class="comment">
          <h3 class="comment-title">Reviews</h3>
          <p>
            Lorem Khaled Ipsum is a major key to success. The other day the grass was brown, now it’s green because I ain’t give up. Never surrender. The weather is amazing, walk with me through the pathway of more success. Take this journey with me, Lion! Bless up. How’s business? Boomin. Celebrate success right, the only way, apple. Wraith talk. Let me be clear, you have to make it through the jungle to make it to paradise, that’s the key, Lion! The key to more success is to have a lot of pillows. You smart, you loyal, you a genius.
          </p>
        </div>
      </div>
    </div>

    </div>

    <% include ../partials/body %>
</body>

</html>
