<!doctype html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body>
  <% include ../partials/navbar %>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 helper-container">
        <div class="col-lg-12">
            <h1 class="text-center">Find helpers in your city</h1>
        </div>
            <div class="helpersList col-lg-4 col-sm-6 col-xs-12">
              <div class="search-card">
                  <img class="img-responsive profile-card-pic" alt="profile image" src='<%= user.local.uploadImg %>' />
                <div class="user-details">
                  <p>
                    <%= user.local.firstName %> <%= user.local.lastName %>
                  </p>
                  <p><i class="fa fa-map-marker"></i>  <%= user.local.city %>, <%= user.local.state %></p>
                  <p class="star-rating">Rating: <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></p>
                  <div class="view-profile">
                    <a href="#">View Profile</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="helpersList col-lg-4 col-sm-6 col-xs-12">
              <div class="search-card">
                  <img class="img-responsive profile-card-pic" alt="profile image" src='<%= user.local.uploadImg %>' />
                <div class="user-details">
                  <p>
                    <%= user.local.firstName %> <%= user.local.lastName %>
                  </p>
                  <p><i class="fa fa-map-marker"></i>  <%= user.local.city %>, <%= user.local.state %></p>
                  <p class="star-rating">Rating: <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></p>
                  <div class="view-profile">
                    <a href="#">View Profile</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="helpersList col-lg-4 col-sm-6 col-xs-12">
              <div class="search-card">
                  <img class="img-responsive profile-card-pic" alt="profile image" src='<%= user.local.uploadImg %>' />
                <div class="user-details">
                  <p>
                    <%= user.local.firstName %> <%= user.local.lastName %>
                  </p>
                  <p><i class="fa fa-map-marker"></i>  <%= user.local.city %>, <%= user.local.state %></p>
                  <p class="star-rating">Rating: <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></p>
                  <div class="view-profile">
                    <a href="#">View Profile</a>
                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
<% include ../partials/body %>
<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
