<!doctype html>
<html>
<head>
  <% include ../partials/head %>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
</head>
<body>
  <% include ../partials/navbar %>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 helper-container">
        <div class="col-lg-12">
            <h1 class="text-center">Find helpers in your city</h1>
        </div>
        <% for(var i=0; i<list.length; i++) { %>
          <div class="helpersList col-lg-4 col-sm-6 col-xs-12">
            <div class="search-card">
                <img class="img-responsive profile-card-pic" alt="profile image" src='<%= list[i].local.uploadImg %>' />
              <div class="user-details">
                <p>
                  <%= list[i].local.firstName %> <%= list[i].local.lastName %>
                </p>
                <p><i class="fa fa-map-marker"></i>  <%= list[i].local.city %>, <%= list[i].local.state %></p>
                <p class="star-rating">Rating: <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></p>
                <div data-id='<%= list[i]._id %>' class="view-profile">
                  <a class="view-profile" href='/user/<%= list[i]._id %>'>View Profile</a>
                </div>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </div>
<% include ../partials/body %>
<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
